@import "bootstrap-sprockets";
@import "bootstrap";

.logo {
  float: left;
  font-size: 2em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

body {
  padding-top: 80px;
  background-color: #303030;
  color: #a4a4a4;
}

html {
  background-color: #000;
}

.nav-item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h3 {
  
}

.jumbotron {
  background-color: #000;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 120px;
  padding-top: 40px;
  background-color: #000;
  border-top: 1px solid #000;
  color: #a4a4a4;
  text-align: center;
}

.post_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  background-color: #1a1a1a;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
 
.row {
   margin: 0 0 0 0;
}

