<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <%= link_to "MetaYo!", "", class: "btn btn-lg btn-success", id: "logo" %>
    <div class="nav-item">
      <%= link_to "Link1", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav-item">
      <%= link_to "Link2", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav-item">
      <%= link_to "Link3", "", class: "btn btn-default btn-warning" %>
    </div>
  </div>  
</nav>